body{
    font-family: Dosis, cursive;
}

/* Estilos para a classe cabecalho */
.cabecalho {
    background-color: #f0f0f0; 
    padding: 20px; 
    display: flex; 
    align-items: center;
}

/* Estilos para a classe Logo-da-empresa */
.Logo-da-empresa {
    width: 100px; 
    height: 100px; 
    margin-right: 20px;
}

/* Estilos para a classe titulo1 */
.titulo1 {
    font-size: 24px;
    color: #333;
    margin-right: auto;
}

/* Estilos para a classe opcoes-do-cabecalho */
.opcoes-do-cabecalho {
    display: flex; /* Faz com que os links sejam exibidos em linha */
}

/* Estilos para os links dentro da classe opcoes-do-cabecalho */
.opcoes-do-cabecalho a {
    text-decoration: none;
    color: #555; 
    margin-right: 10px; 
}


.opcoes-do-cabecalho a:hover {
    color: #000; 
}

.historia{
    display: flex;
    margin: 5px;
}

img{
width: 600px;
}

.servicos{
    font-size: 17px;
    margin-bottom: 30px;
    margin-left: 2px;
    margin-right: 2px;
    width: 600px;
}
